<div class="card-body pt-3">
  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
        <div class="nav-link">
            <button class="nav-link active" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#basicModalAddEva"
            [disabled]="btnStatus">Add Evaluation Method</button>
        </div>
    </li>
    <li class="nav-item">
        <div class="nav-link">
            <div class="mb-3">
                <input matInput (keyup)="applyFilter($event)" placeholder="Global search..."  class="form-control" #input>
            </div>
        </div>
    </li>
  </ul>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="EvaluationMethods">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluation Method</th>
      <td mat-cell *matCellDef="let row"> {{row.EvaluationMethods}}</td>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Percentage </th>
      <td mat-cell *matCellDef="let row"> {{row.percentage}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let row"> 
          <a type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#basicModalEva" (click)="setData(row)">
              <i class="bi bi-pencil"></i>
          </a> 
          &nbsp;
          <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModalDeleteEva" (click)="setData(row)">
            <i class="bi bi-trash-fill"></i>
          </a> 
      </td>
    </ng-container>
    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5,10,15]" aria-label="Select page of users"></mat-paginator>
</div>

<app-update-eva [id]="updateData"></app-update-eva>
<app-add-eva [id]="Course_ID"></app-add-eva>
<app-deleteeva [id]="updateData"></app-deleteeva>