.container {
  display: flex;
  flex-direction: row;
}
.user-list {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
  overflow-y: auto;
}
.chat {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}